<h1>Sign up form!</h1>
<br>
<%= form_with model: @user, local: true do |f| %>

<% if @user.errors.any? %>
  <p>You have the following <%= pluralize(@user.errors.count, 'error')%>:</p>
  <% @user.errors.full_messages.each do |msg| %>
  <ul>
    <li><%= msg %></li>
  </ul>
  <% end %>
<% end %>
  <%= f.label :name %><br>
  <%= f.text_field :name, autofocus: true %>
  <br>
  <br>
  <%= f.submit 'Sign up!' %>

<% end %>
