<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,600;1,200&display=swap" rel="stylesheet">
  </head>

  <body>
    <% if flash[:notice] %>
     <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:success] %>
     <p class="success"><%= flash[:success] %></p>
    <% end %>
    <% if flash[:danger] %>
     <p class="danger"><%= flash[:danger] %></p>
    <% end %>
    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
